@font-face {
    font-family: 'MODULAR 14';
    font-style: normal;
    font-weight: normal;
    src: local('MODULAR 14'), url('MODULAR-14.woff') format('woff');
    }

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 2;
}
.container__title{
    font-family: 'MODULAR 14';
    font-size: 3em;
    height: 100px;
    /* margin: auto; */
   
}
.container__start{
    width: 100%;
    /* margin: auto; */
    height: 160px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
button{
    width: 10%;
    height: 50%;
}


img{
    height: auto; 
    width: 100%;
    max-width: 300px;
}


.container__title {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      /* margin-left: 100%;
      width: 300%; */
      opacity: 0;
    }
  
    to {
        opacity: 1;
        
      /* margin-left: 0%;
      width: 100%; */
    }
  }

.car1_image{
    animation-duration: 3s;
    animation-name: driveCar1In;
    transform: scaleX(-1);
    animation-fill-mode: forwards;
    
}
.car2_image{
    animation-duration: 3s;
    animation-name: driveCar2In;
    animation-fill-mode: forwards;
}

@keyframes driveCar1In {
    from {
      margin-right: 100%;
      opacity: 0;
    }
  
    to {
        margin-right: 0;
        opacity: 1;
       
    }

    
  }

  
@keyframes driveCar2In {
    from {
      margin-left: 100%;
      opacity: 0;
     
    }
  
    to {
        margin-left: 0;
        opacity: 1;
    }
  }